.headline {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 2rem 0;
}

.headline__info {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin: 2rem 0;
}

.headline__title {
    font-weight: 600;
    font-size: 2.25rem;
}

.headline__subtitle {
    margin: 1rem 0 2rem 0;
    color: var(--fc-medium);
}

.headline__banner {
    max-width: 450px;
    margin: 0 auto;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .headline {
        flex-direction: row;
        margin-bottom: 4rem;

        gap: 4rem;
    }

    .headline__info {
        text-align: left;
    }

    .headline__subtitle {
        font-size: 1.5rem;
    }

    .headline__button {
        margin: 0;
        text-align: center;
    }

    .headline__title {
        font-size: 4rem;
    }

    .headline__banner {
        max-width: 50%;
    }

    .headline__info,
    .headline__banner {
        width: 50%;
    }
}